DATABASE_URL="postgresql://workerzexit:workerzexit2024@localhost:5433/workerzexit_db"

NEXTAUTH_URL="http://localhost:3010"
NEXTAUTH_SECRET="change-this-to-a-random-secret-string"

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
